# General
.DS_Store
Thumbs.db
*.log

# Environment Variables
.env
.env.*
!.env.example
backend/.env
frontend/.env
env/
venv/
.venv/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
staticfiles/

# Node.js / React
node_modules/
dist/
build/
.npm/

# IDE
.vscode/
.idea/

# Local Settings
backend/config/settings/local.py
